/* app css stylesheet */
pre {
	border: none;
}

a.active {
	font-weight: bold;
}

body {
	padding-top: 70px;
}
blockquote {
	font-size: 14px;
}

.success::before, .info::before {
	content: attr(title);
	display: block;
	font-weight: bold;
}