<div class="toc">
  {% assign categoryToPapges = site.docs | group_by:"category" | sort: "name""%}


  <div class="accordion" id="accordion_toc">

    {% for categoryAndPages in categoryToPapges %}
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
            data-target="#collapse_{{ categoryAndPages.name }}">{% if categoryAndPages.name !=''%} {{
            categoryAndPages.name | replace: "_", " "}} {% else %} no category {% endif %}</button>
        </h2>
      </div>

      <div id="collapse_{{ categoryAndPages.name }}" class="collapse" data-parent="#accordion_toc">
        <div class="card-body">
          {% assign sorted_pages = (categoryAndPages.items | sort: 'title') %} {% for current in sorted_pages %}
          <div class="">
            <a class="{% if page.url == current.url %} active{% endif %}" href="{{ current.url }}">{{ current.title
              }}</a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</div>
