<div class="toc">
	{% assign categoryToPapges = site.docs | group_by:"category" | sort:
	"name" %}

	<div class="accordion" id="accordion_toc">

		{% for categoryAndPages in categoryToPapges %}
		<div class="card">
			<div class="card-header" id="headingOne">
				<h2 class="mb-0">{% if categoryAndPages.name !=''%} {{
					categoryAndPages.name | replace: "_", " "}} {% else %} no category
					{% endif %}</h2>
			</div>

			<div id="collapse_{{ categoryAndPages.name }}" class="Xcollapse">
				<div class="card-body">
					<!-- sort pages by id (is path) -->
					{% assign sorted_pages = (categoryAndPages.items | sort: 'id') %}
					{% for current in sorted_pages %}
					<div class="">
						<a class="{% if page.url == current.url %} active{% endif %}"
							href="{{ current.url }}">{{ current.title }}</a>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		{% endfor %}

	</div>
</div>
