<!DOCTYPE html>
{% include head.html %}
<body>

  <header class="navbar-dark bd-navbar container-fluid">
    <div class="row">
      <div class="col-lg-2">
        <nav class="navbar">
          <a href="{{ site.baseurl }}/" class="navbar-brand mb-0 h1">Leo Niedermeier</a>
        </nav>
      </div>
      <div class="col-lg-8">
        <nav class="navbar justify-content-center">
          <span class="navbar-text"> {{ page.title }}</span>
        </nav>
      </div>
    </div>
  </header>
   
 
  

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">{{ content }}</div>
      <div class="col-lg-2"></div>
    </div>
  </div>
  

  <script type="text/javascript">
    $(document).ready(function() {
      $(".success").addClass("alert alert-success");
      $(".info").addClass("alert alert-info");
      $(".danger").addClass("alert alert-danger");
      $("table").addClass("table table-bordered table-striped");

   $('p[title]')
       .wrapInner("<div class='collapse-inner'></div>").prepend(function()
        { return '<div class="font-weight-bold">'+ ($(this).hasClass('x') ? "<i class='toggler fa fa-chevron-up mr-2'></i>" : '')  + $(this).attr('title') + "</div></div>";});
      
    $('p[title].x').find('.toggler').toggleClass('fa-flip-vertical');
    $('p[title].x').find('.collapse-inner').toggle();
      
    $('p[title].x').on('click', function () {
        $(this).find('.toggler').toggleClass('fa-flip-vertical');
        $(this).find('.collapse-inner').toggle();
      });
    });
  </script>
</body>
</html>