<!DOCTYPE html>
{% include head.html %}
<body>

  <header class="navbar-dark bd-navbar container-fluid">
    <div class="row">
      <div class="col-lg-2">
        <nav class="navbar">
          <a href="{{ site.baseurl }}/" class="navbar-brand mb-0 h1">Leo Niedermeier</a>
        </nav>
      </div>
      <div class="col-lg-8">
        <nav class="navbar justify-content-center">
          <span class="navbar-text"> {{ page.title }}</span>
        </nav>
      </div>
    </div>
  </header>
   
 
  

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">{{ content }}</div>
      <div class="col-lg-2"></div>
    </div>
  </div>
  

  <script type="text/javascript">
    collapse_id_counter = 1;
    $(document).ready(function() {
      $(".code").addClass("alert bg-light");
      $(".success").addClass("alert alert-success");
      $(".info").addClass("alert alert-info");
      $(".danger").addClass("alert alert-danger");
      $("table").addClass("table table-bordered table-striped");

   /* panels have titles and can be collapsed */   
   $('p[title], div[title]').each(function () {
        if ($(this).hasClass('x')) {
          var randomid = 'collapse_' + (collapse_id_counter++);
          $(this).wrapInner('<div class="panel-inner collapse" id="' + randomid + '"></div>').prepend(function () {
            return '<div class="font-weight-bold collapsed panel-title" style="cursor: pointer"  data-toggle="collapse" data-target="#' + randomid + '">'
              + "<i class='toggler fa mr-2'></i>" + $(this).attr('title') + "</div></div><hr class='hr-in-panel'/>";
          });
        }
        else {
          $(this).wrapInner('<div class="panel-inner"></div>')
            .prepend(function () { return '<div class="font-weight-bold panel-title">' + $(this).attr('title') + '</div></div><hr class="hr-in-panel"/>'; });
        }
      });
    });
  </script>
</body>
</html>